.salon__regions {
    background-color: rgb(255, 255, 255);
    padding: 0px 15px 30px;
}
.salon__regions .regions {
    padding: 16px 0px;
    border-bottom: 1px solid rgb(232, 232, 232);
}
.salon__regions .regions__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
}
.salon__regions .regions__cities {
    display: flex;
    flex-flow: row wrap;
    margin: -5px;
}
.salon__regions .regions__cities .cities__name {
    flex-basis: auto;
    background: #BF925B;
    padding: 5px 12px;
    font-size: 14px;
    margin: 5px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
}

/*css listSalon */
.result-salon {
    min-height: 500px;
    background-color: rgb(255, 255, 255);
}
.filter-district {
    position: relative;
    margin: 15px 15px 0px;
    display: inline-block;
    min-width: 202px;
}
.filter-district .box-filter {
    padding: 4px 16px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.filter-district .box-filter{
    padding-right: 10px;
    font-weight: 700;
}
.select{
    border: none;
}
.filter-district .box-filter .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
}
.salon__box-switch {
    background-color: rgb(255, 255, 255);
    padding: 0px 15px;
}
.salon__box-switch .box-switch {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(232, 232, 232);
    align-items: center;
    padding: 10px 0px;
}
.salon__box-switch .box-switch__text {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700;
}
.salon__box-switch .box-switch__text .text__gray {
    color: rgb(118, 118, 118);
    font-size: 12px;
    font-weight: 400;
}
.salon__box-switch .box-switch__button {
    height: 28px;
    width: 48px;
    background-color: rgb(209, 209, 209);
}
.salon__box-switch .box-switch__button .ant-switch-handle {
    top: 2px;
    width: 24px;
    height: 24px;
}
.salon__box-switch .box-switch__button .ant-switch-handle::before {
    border-radius: 50%;
}
.ant-switch-inner {
    display: block;
    margin: 0px 7px 0px 25px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    transition: margin 0.2s ease 0s;
}
.content-center-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.salon .show {
    animation: 0.5s ease 0s 1 normal forwards running showList;
}
.salon__item {
    height: auto;
    border-bottom: 1px solid rgb(232, 232, 232);
    padding: 15px 0px;
    margin: 0px 15px;
}
.salon__item .item {
    cursor: pointer;
}
.flex {
    display: flex;
}
.salon__item .item__media {
    align-self: center;
}
.relative {
    position: relative;
}
.placehoder {
    background-color: rgb(227, 227, 227);
}
.w-full {
    width: 100%;
}

.block {
    display: block;
}
img {
    vertical-align: middle;
    border-style: none;
}
.salon .parking-salon {
    background-color: rgb(255, 204, 51);
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 1px 2.5px;
}
.salon .parking-salon img {
    width: 20px;
}
.salon__item .item__content {
    padding-left: 12px;
}
.salon__item .item__address {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
    color: black;
}
.salon__item .item__note {
    font-size: 12px;
}

/* css service */
.booking-service {
    font-family: Be;
    position: relative;
}
.booking-service .service {
    background-color: #fff;
    padding: 0 8px 8px;
    margin-bottom: 8px;
}
.booking-service .service__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8px 16px;
}
.booking-service .service__category .category__name {
    font-weight: 600;
    font-size: 16px;
    color: #111;
}
.booking-service .service__category .category__number {
    font-weight: 500;
    font-size: 14px;
    color: #767676;
    white-space: nowrap;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.booking-service .service__list .list__item {
    border: 1px solid #d1d1d1;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    max-width: 250px;
}
.booking-service .service__list .swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.btn, .pointer {
    cursor: pointer;
}
.booking-service img {
    width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.booking-service .service__list .list__item .item__tag {
    position: absolute;
    top: -1px;
    left: -1px;
    background: #11b14b;
    color: #fff;
    font-size: 13px;
    border-radius: 6px 0 6px 0;
    padding: 5px 10px;
}
.booking-service .service__list .list__item .item__title {
    font-size: 14px;
    min-height: 44px;
}

.booking-service .service__list .list__item .item__title {
    font-size: 12px;
    color: #111;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 36px;
    white-space: pre-line;
    margin: 4px 5px 5px 8px;
}
.booking-service .service__list .list__item .item__description {
    font-size: 12px;
    color: #5f5f5f;
}
.booking-service .service__list .list__item .item__description {
    margin: 0 8px 8px;
    font-size: 10px;
    color: #5f5f5f;
    white-space: pre-line;
}
.booking-service .service__list .list__item .item__price {
    margin: auto 8px 10px;
    font-size: 14px;
    color: #111;
    font-weight: 700;
}
.booking-service .service__list .list__item .meta__newPrice {
    padding-right: 10px;
}
.booking-service .service__list .list__item .item__button.isChecked {
    background: #ffd65c;
    border-color: #ffd65c;
}
.booking-service .service__list .list__item .item__button {
    margin: 0 8px 8px;
    border: 1px solid #111;
    border-radius: 3px;
    color: #111;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
    font-weight: 700;
    transition: all .3s;
    cursor: pointer;
}
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}
.new-affix-v2 {
    font-size: 25px;
    font-family: Oswald;
    position: sticky;
    position: -webkit-sticky;
    bottom: -1px;
    z-index: 10;
}
.new-affix-v2 .content-step {
    padding: 15px;
    background: #fff;
}
.text-center {
    text-align: center;
}
.space-between {
    justify-content: space-between;
}
.flex {
    display: flex;
}
.new-affix-v2 .content-step .button-next {
    height: 48px;
    width: 100%;
    border-radius: 6px;
}

.new-affix-v2 .button-next.btn-inactive {
    background: #e8e8e8;
}
.new-affix-v2 .button-next {
    border-radius: 10px;
    padding: 5px 20px;
    background: #fc3;
    justify-content: center;
    display: flex;
    align-items: center;
}
.new-affix-v2 .button-next span {
    font-family: Oswald;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    color: black;
}

/*time*/
.box-time {
    font-family: Be;
    font-size: 18px;
    color: rgb(34, 34, 34);
    margin-top: 15px;
    
}
.box-time .relative {
    position: relative;
    width: 1010px;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0px;
    z-index: 1;
}
.box-time .swiper-wrapper {
    align-items: flex-end;
}
.box-time .box-time_gr {
    width: 100%;
}
.box-time .unavailable {
    border: 1px solid rgb(209, 209, 209);
    background: rgb(232, 232, 232);
    color: rgb(163, 163, 163);
    cursor: not-allowed;
}
.swiper-container .swiper-notification {
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}
.box-time .box-time_item {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 8px;
    cursor: pointer;
}

/* button tư vấn */
.btn-toggle {
    margin: 0 4rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #bdc1c8;
}
.btn-toggle:focus, .btn-toggle:focus.active, .btn-toggle.focus, .btn-toggle.focus.active {
    outline: none;
}
.btn-toggle:before, .btn-toggle:after {
    line-height: 1.5rem;
    width: 4rem;
    text-align: center;
    font-weight: 600;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
}
.btn-toggle:before {
    left: -4rem;
}
.btn-toggle:after {
    right: 4rem;
    opacity: .5;
}
.btn-toggle > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left .25s;
}
.btn-toggle.active {
    transition: background-color .25s;
}
.btn-toggle.active {
    background-color: #81b51a;
}
.btn-toggle.active > .handle {
    left: 1.6875rem;
    transition: left .25s;
}
.btn-toggle.active:before {
    opacity: .5;
}
.btn-toggle.active:after {
    opacity: 1;
}